<html>
    <body>
<h1>État des espèces menacées dans le monde</h1>

<% if(pays.length > 0){ %>
<select id="pays" name="pays">
  <% pays.forEach(function(p) { %>
    <option value="<%= p.id %>"><%= p.name %></option>
  <% }); %>
</select>

<h2>Les espèces menacées dans les pays sélectionnés :</h2>

<ul id="species">
  <% species.forEach(function(e) { %>
    <li>
      <%= e.name %> - <%= e.status %> 
      (Protégé depuis <%= e.year %>)
    </li>
  <% }); %>
</ul>

<% } else { %>
    La liste des pays est en cours de chargement.
    La page va se recharger dans une seconde
    <script>
        response.setIntHeader("Refresh", 1);
    </script>
<% } %>
<script>
  // Exemple de code JavaScript pour afficher la liste d'espèces
  document.addEventListener("DOMContentLoaded", function() {
    var selectPays = document.getElementById('pays');
    var listeEspeces = document.getElementById('species');

    selectPays.addEventListener('change', function() {
      // Récupérer l'ID du pays sélectionné et afficher les espèces correspondantes
      var idPays = selectPays.value;
      fetch('/get-species-for/' + idPays)
        .then(response => response.json())
        .then(data => {
          listeEspeces.innerHTML = '';
          data.forEach(function(e) {
            var li = document.createElement('LI');
            li.textContent = `${e.name} - ${e.status} (depuis ${e.year})`;
            listeEspeces.appendChild(li);
          });
        })
        .catch(error => console.error(error));
    });

  });
</script>
</body>
</html>